body{
    margin: 0;
    margin-top: -18px;
    padding: 0;

}
.body{
    display: flex;
}
.nav{
    position: fixed;
    display: flex;
    background: skyblue;
    flex-direction: column;
    height: 100%;
    width: 30vh;
    border-right: 7px solid rgb(0, 151, 133);
    object-fit: fill;
    cursor: pointer;


}
li{
    list-style: none;
    margin-right: 19px;
    text-align: center;

}
a{
    text-decoration: none;
    font-size: 40px;
    font-family: tahoma;
    color: skyblue;
    text-shadow: 0px 0px 34px black;

}
img{
    position: relative;
    width: 200px;
    height: 200px;
    /* box-shadow: 0px 0px 34px blue; */
   
}
#card{
    display: block;
    position:absolute;
    background: rgb(205, 205, 230);
    width: 175vh;
    height: 100%;
    margin-left: 242px;
    margin-top: 18px;
    
}