body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: tahoma;
    background: url(./index.jpg);
    background-size: cover;
    color:white;

}.body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: tahoma;
    background: url(./index.jpg);
    background-size: cover;
    height: 80vh;
    width: 50vh;
    color:white;
    box-shadow: 0px 0px 32px chocolate,
                0px 0px 52px rgba(81, 210, 30, 0.678),
                0px 0px 82px rgb(0, 253, 42);
           
    font-weight: 700;
    box-sizing: border-box;
    object-fit: fill;


}
.span{
    font-size: 202%;
    color:goldenrod;
}
span{
    font-size: 37px;

}
#message-el{
    text-align: center;
    font-size: 25px;

}
button{
    font-size: 30px;
    color: green;
    background-color:goldenrod;
    border: none;
    border-radius: 4px;
    height: 10vh;
    margin-top: 12px;
    width: 29vh;
    
}