body{
    background: black;
}
#apple{
    background: rgb(80, 107, 39);
    height: 100px;
    width: 400px;
    font-size: 40px;
    border-radius: 16px;
    
}
#orange{
    background: rgb(109, 108, 27);
    height: 100px;
    width: 400px;
    font-size: 40px;
    border-radius: 16px;
    margin-top: 12px;
}