*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  font-family: cassanova;
  /* font-family: 'Rubik Moonrocks', cursive; */
    

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    background-color: rgb(17, 255, 235);
}
.box{
    position:relative;
    width: 1000px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box h2{
    color:#fff;
    font-size: 8em;
    font-weight: 900;
    letter-spacing:4.2px;
    text-shadow:  0px 0px 30px rgba(11, 49, 219, 0.767),
                  0px 0px 40px rgba(11, 49, 219, 0.767),
                  0px 0px 50px rgba(11, 49, 219, 0.767),
                  0px 0px 90px rgba(11, 49, 219, 0.767);
}
.bar{
    position: relative;
    top: 0;
    left: -160vh;
    width: 10px;
    height: 90vh;
    border-radius: 10px;
    box-shadow:  0px 0px 30px rgba(11, 49, 219, 0.767),
    0px 0px 40px rgba(11, 49, 219, 0.767),
    0px 0px 50px rgba(11, 49, 219, 0.767),
    0px 0px 90px rgba(11, 49, 219, 0.767);
    background: white;
    z-index: 2;
    animation: infinity 4s linear infinite;
}
.bar:after{
    width: 100vh;
    height: 90vh;
    background: rgb(0, 0, 0);

}

@keyframes infinity {
    0%,5%{transform: scaleY(0) translateX(0);}
    10%{transform: scaleY(1) translateX(0);}
    90%{transform: scaleY(1) translateX(calc(90vh +  60vh));}
    95%{transform: scaleY(0) translateX(calc(90vh +  60vh));}
    100%{transform: scaleY(0) translateX(0);}
}
.layer{
    position: absolute;
    top: 5.4vh;
    left: 19vh;
    width: 160vh;
    height: 90vh;
    border-radius: 10px;
  
    background: rgb(20, 12, 12);
    z-index: 1;
    animation: help1 s linear infinite;
}
@keyframes help1 {
    0%,2.5%{transform:  translateX(0);}
    5%{transform:  translateX(0);}
    45%{transform:  translateX(100%);}
    47.5%,50%{transform:  translateX(100%);}
    50.001%,52.5%{transform:  translateX(-00%);}
    55%{transform:  translateX(-100%);}
    95%{transform:  translateX(0%);}
    97.5%,100%{transform:translateX(0%);}

}
