*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: poppins medium;

}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #2f363e;
}
#time
{
display: flex;
gap: 40px;
color:#ffff; 
}

 .circle{
    position: relative;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle svg{
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
}
.dots{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index:10;
    display: flex;
    justify-content: center;
}
span{
    position:absolute;
    transform: translateX(-50%) translateY(-10px);
    font-size:.5em;
    font-weight:300;
    letter-spacing: 0.1em;
    text-transform:uppercase;
}
.dots::before{
    content: '';
    position: absolute;
    width: 15px;
    height:15px;
    top: -3px;
    background: var(--clr);
    border-radius: 50%;
    box-shadow: 0px 0px 20px var(--clr),
                0px 0px 20px var(--clr);
}
.circle svg circle{
    width: 100%;
    height:100%;
    fill: transparent;
    stroke: #191919;
    stroke-width: 4;
    transform: translate(5px ,5px);
}
.circle svg circle:nth-child(2){
    z-index: 2;
    stroke:var(--clr);
    stroke-dasharray: 440;
}
 div{
    position: absolute;
    text-align: center;
    font-weight: 500;
    font-size: 1.5rem;
}
.ap{
    position: relative;
    font-size:1em;
    transform: translateX(-20deg);
}
@media (max-width: 600px) {
    #time{
        flex-direction: column;
    }
    
}